<!DOCTYPE html>
<html lang="en">
<%-include ('../../partials/head') %>

<body>
  <%-include ('../../partials/admin/dash-navbar')%>
  <h2 class="text-center">PRODUCT DETAILS</h2>



  <section class="container">
    <div class="row">
      <div class=" col-12 table-responsive">
        <table class="table table-bordered table-striped table-responsive text-center" id="datatable">
          <thead class="thead-dark">
            <tr class="table-dark fw-normal">
              <th class="fs-6 text-center" scope="col">NO</th>
              <th class="fs-6 text-center" scope="col">Name</th>
              <th class="fs-6 text-center" scope="col">Price</th>
              <th class="fs-6 text-center" scope="col">Category</th>
              <th class="fs-6 text-center" scope="col">Colour</th>
              <th class="fs-6 text-center" scope="col">Total Stock</th>
              <th class="fs-6 text-center" scope="col">Images</th>
              <th class="fs-6 text-center" scope="col">Update</th>
              <th class="fs-6 text-center" scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>

          </tbody>

        </table>
      </div>
    </div>
  </section>


  <%-include ('../../partials/bottom-navbar') %>
  <script src="/script/scriptadmin.js"></script>
</body>

</html>