<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
      <a class="brand" href="/home">ShoppyZone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
              <!-- <form class="d-flex px-5 " role="search">
                <input  placeholder="Search..." class="search text-dark fw-bold" name="text" type="text">
                <button class="btn  " type="submit"><iconify-icon class="fs-3 " icon="ic:round-search"></iconify-icon></button>
              </form> -->
          <ul class="navbar-nav pt-2">
              <li ><a class="fs-5 fw-bold mx-3  text-light text-decoration-none "href=""> SHOP </a></li>
              <!-- <li><a href=""class="text-decoration-none fs-5 fw-bold text-light mx-3" >WISHLIST</a></li>
             <li><a href="/cart"class="text-decoration-none fs-5 fw-bold text-light" >CART<iconify-icon class="fs-5 text-dark" icon="ic:round-shopping-cart"></iconify-icon></a></li> -->
              
          </ul>
      </div>
  </div>
</nav>