<nav class="navbar navbar-expand-lg bg-dark navbar-parent fixed-top border-bottom border-dark border-3 align-items-center" id="navbar">
    <div class="container-fluid bg-dark">
      <div>
        
        <a class="brand"href="/home">ShoppyZone</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item ps-4 ">
                <a class="nav-link active nav-item fs-5 fw-normal text-light" aria-current="page" href="/admin/dashhome">Home</a>
              </li>
          <li class="nav-item ps-4 ">
            <a class="nav-link active nav-item fs-5 fw-normal text-light" aria-current="page" href="/admin/categories">Categories</a>
          </li>
          <li class="nav-item ps-4">
            <a class="nav-link active nav-item fs-5 fw-normal text-light" aria-current="page" href="/admin/products">Products</a>
          </li>
          <li class="nav-item ps-4">
            <a class="nav-link active nav-item fs-5 fw-normal text-light"  href="/admin/users">Users</a>
          </li>
          <li class="nav-item ps-4">
            <a class="nav-link active nav-item fs-5 fw-normal text-light" aria-current="page" href="/admin/orders">Orders</a>
          </li>
          <li class="nav-item ps-4">
            <a class="nav-link active nav-item fs-5 fw-normal text-light" aria-current="page" href="/admin/banner">Banner</a>
          </li>
         
          <li class="nav-item ps-4">
            <a class="nav-link active nav-item fs-5 fw-normal text-light" aria-current="page" href="/admin/coupon">Coupons</a>
          </li>
          
          <li class="nav-item ps-4 pt-0">
            <a class="nav-link nav-item d-flex align-items-center text-light" href="/admin/logout"> <span class="btn btn-success text-light fw-normal">Logout</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
